<div class="container col-md-6 text-center">
    <h1 style="color:black">Create Customer</h1>
    <form  (ngSubmit)="createCustomer()">
        <div class="row mb-3">
            <label for="personName" class="col col-form-label">Person Name</label>
            <input type="text" class="col" id="personName" name="personName"
                [(ngModel)]="customer.personName" />
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Gender</label>
            <div class="col " align="left">
            <input type="radio" id="MALE" name="gender" value="MALE" [(ngModel)]="customer.gender">
            <label for="MALE">MALE</label><br>
            <input type="radio" id="FEMALE" name="gender" value="FEMALE" [(ngModel)]="customer.gender">
            <label for="FEMALE">FEMALE</label><br>
        </div>
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Date Of Birth</label>
            <input type="date" class="col" name="date"  id="date" [(ngModel)]="customer.date" />
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Flat Number</label>
            <input type="number" id="flatNo" name="flatNo" class="col" [(ngModel)]="customer.flatNo">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">City</label>
            <input type="text" id="city" name="city" class="col" [(ngModel)]="customer.city">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">State</label>
            <input type="text" id="state" name="state" class="col" [(ngModel)]="customer.state">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Pincode</label>
            <input type="number" id="pincode" name="pincode" class="col" [(ngModel)]="customer.pincode">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Telephone Number</label>
            <input type="text" id="telephoneNumber" name="telephoneNumber" class="col"  [(ngModel)]="customer.telephoneNumber">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Email Id</label>
            <input type="text" id="email" name="email" class="col" [(ngModel)]="customer.email">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Username</label>
            <input type="text" id="username" name="username" class="col"  [(ngModel)]="customer.username">
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlInput1" class="col col-form-label">Password</label>
            <input type="text" id="password" name="password" class="col"  [(ngModel)]="customer.password">
        </div>

        <button type="submit" class="btn-btn-primary mb-5">Create</button>
    </form>
</div>