<div style="width: 100%;">
    <div class="card" style="float: left; size: ;">
        <p>It is a story scripted in corporate wisdom and social pride.
It is a story crafted in private capital, princely patronage and state ownership. 
It is a story of ordinary bankers and their extraordinary contribution in the ascent of Bank
to the formidable heights of corporate glory. It is a story that needs to be shared with all those millions of
people - customers, stakeholders,
employees & the public at large - who in ample measure, have contributed to the making of an institution.</p>
    </div>
    <div align="right">
        <img alt="im"
            src="https://www.bing.com/th?id=OIP.660epq0yP5B_dCDuAVLwVAHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2">
    </div>
</div>  