
    <div class="card"  style="padding: 10px; text-align: center; float: center; margin: 10px;">
      <h1>Welcome to BoltBank</h1>
  </div>    

<div class="card" style="width: 35rem;float: right; padding: 5px; background-color: lightgray; margin-top: 10px; margin-right: 10px;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h1 class="card-title-center" style="font-size: 25px;">OUR SERVICES</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="margin: 7px; font-size: 20px;" >Business Banking</li>
      <li class="list-group-item" style="margin: 7px; font-size: 20px;">Best Interest Rates</li>
      <li class="list-group-item" style="margin: 7px; font-size: 20px;">Banking On Phone</li>
      <li class="list-group-item" style="margin: 7px; font-size: 20px;">24*7 Available For You</li>
      <li class="list-group-item" style="margin: 7px; font-size: 20px;">Instant Account Opening</li>
    </ul>
    <a href="#" class="btn btn-primary"style="margin: 7px;">Read more...</a>
    <!-- <a href="#" class="btn btn-primary">Read more...</a> -->
  </div>
</div>
<div>
<img src="https://img.freepik.com/free-vector/senior-people-savings-fund-pensioners-earnings_335657-3045.jpg?w=740&t=st=1669354266~exp=1669354866~hmac=b59c81b29f8c5454d115404ffa28535f2d6033076dc6bc592480bd8c3465acd9" alt="">
</div>
